<% include head %>
<main>
  <div class="columns is-gapless is-multiline is-mobile">
    <div class="column is-12">
      <% if (item.status) { %>
        <section class="hero is-fullheight is-warning">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Is ON now
              </h1>
            </div>
          </div>
        </section>
      <% } else { %>
        <section class="hero is-fullheight is-light">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Is OFF now
              </h1>
            </div>
          </div>
        </section>
      <% } %>
    </div>
  </div>
</main>
<% include foot %>

